<div class="sidebar">
    <div class="logo-details">
      <i class="fa fa-hospital-symbol icon"></i>
      <div class="logo_name">Hospital</div>
      <i class='far fa-bars' id="btn"></i>
    </div>
    <ul class="nav-list" style="padding-left: 0;">
      <li>
        <a href="#">
          <i class="fal fa-first-aid"></i>
          <span class="links_name">Agregar Cita</span>
        </a>
        <span class="tooltip">Agregar Cita</span>
      </li>
      <li>
        <a href="#">
          <i class="fal fa-vial"></i>
          <span class="links_name">Solicitar Examen</span>
        </a>
        <span class="tooltip">Solicitar Examen</span>
      </li>
      <li>
        <a href="#">
          <i class="fal fa-user-md"></i>
          <span class="links_name">Doctores</span>
        </a>
        <span class="tooltip">Doctores</span>
      </li>
      <li>
        <a href="#">
          <i class="fal fa-stethoscope"></i>
          <span class="links_name">Servicios</span>
        </a>
        <span class="tooltip">Servicios</span>
      </li>
      <li>
        <a href="#">
          <i class="fal fa-cog"></i>
          <span class="links_name">Configuracion</span>
        </a>
        <span class="tooltip">Configuracion</span>
      </li>
      <li class="profile">
        <div class="profile-details">
          <div class="name_job">
            <div class="name">Usuario</div>
            <div class="job">Edad</div>
          </div>
        </div>
        
          <i class='bx bx-log-out' id="log_out"></i>
       
      </li>
    </ul>
  </div>
  <div class="home-section" >
    
  </div>
